<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../../twilight_model/channel/message/component/struct.SelectMenuOption.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../../twilight_model/channel/message/component/struct.SelectMenuOption.html">../../../../../twilight_model/channel/message/component/struct.SelectMenuOption.html</a>...</p>
    <script>location.replace("../../../../../twilight_model/channel/message/component/struct.SelectMenuOption.html" + location.search + location.hash);</script>
</body>
</html>